.bHMfLN{
    display: inherit !important;
    padding: 0 0 0 0 !important;
} 

a.dropdown-toggle.nav-link{
    padding: 0 0 0 0 !important;
    margin-top: 2px !important;
}

a.light__NavLink-lj69nl-2.gpcGlI{
    padding: 0 0 0 0 !important;
}

div.active.dropdown{
    margin-top: -5.2%;
}
