.carousel{
    padding-top: 2%;
    height: 100%;
    max-height: 500px;
    width: 100%;
    background-color: white;
    margin:auto;
}
.spinner{
    margin: auto;
}
.carouselDiv {
    width: 100%;
    padding-top: 5%;
    background-color: white;
    padding-bottom: 5%;
    border-width: thin;
    border-radius: 20px;
    border-color: #efe7ff;
}
.wrapper {
 
    display: inline-block;
}
/* .control-arrow .control-prev{
    border-radius: 20px;
    background-color: black;
} */

/* .table{
    display: table;
}
.row {
    display: table-row;
  } */

.carousel .slide {
    border-radius: 25px;
    border-color: #efe7ff;
    background-color: white;
}
.formItem{
    /* padding-left: 20px;
    color: pink;
    position: relative;
    vertical-align: middle;
    bottom: 1px; */
    display: table-cell;
    padding: .5erm;
}
/* .inputItem{
    display: table-cell;
    
} */
/* .carouselItem{
    display: table-cell;
    padding-right: 1em;
} */

.modalH{
    text-align: center;
}
.modalImage img{
    margin:auto;
}

.modalDesc{
    font-family: 'Inter' serif;
    font-weight: 400;
    color: grey;
}
.btnGenerate{
    margin-bottom: 50px;
}
td:nth-child(1) {
    width: 100%
}

