.carousel {
    padding-top: 2%;
    height: 100%;
    max-height: 500px;
    width: 100%;
    background-color: white;
    margin:auto;
}

.spinner {
    margin: auto;
}

.carouselDiv {
    width: 100%;
    padding-top: 5%;
    background-color: white;
    padding-bottom: 5%;
    border-width: thin;
    border-radius: 20px;
    border-color: #efe7ff;
}

.wrapper {
    display: inline-block;
}

.carousel .slide {
    border-radius: 25px;
    border-color: #efe7ff;
    background-color: white;
}

.formItem {
    display: table-cell;
    padding: .5erm;
}

.modalH {
    text-align: center;
}

.modalImage img {
    margin:auto;
}

.modalDesc { 
    font-family: "Inter" serif;
    font-weight: 400;
    color: grey;
}

.btnGenerate {
    margin-bottom: 50px;
}

td:nth-child(1) {
    width: 100%
}

